<?xml version="1.0"?>
<config>
  <modules>
    <Openpay_ProductCalculatorWidget>
      <version>0.1.0</version>
    </Openpay_ProductCalculatorWidget>
  </modules>
  <frontend>
    <routers>
      <productcalculatorwidget>
        <use>standard</use>
          <args>
            <module>Openpay_ProductCalculatorWidget</module>
            <frontName>productcalculatorwidget</frontName>
          </args>
      </productcalculatorwidget>
    </routers>
		<layout>
		  <updates>
			<productcalculatorwidget>
			  <file>productcalculatorwidget.xml</file>
			</productcalculatorwidget>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <productcalculatorwidget>
        <class>Openpay_ProductCalculatorWidget_Helper</class>
      </productcalculatorwidget>
    </helpers>
	<blocks>
	  <productcalculatorwidget>
		<class>Openpay_ProductCalculatorWidget_Block</class>
	  </productcalculatorwidget>
	</blocks>
  </global>
</config> 