<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Ueg_Amazon::parent" title="Amazon" sortOrder="51">
                    <resource id="Ueg_Amazon::newinv" title="New Inventory" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>