<?xml version="1.0"?>
<config>
  <modules>
    <Openpay_Addwidget>
      <version>0.1.0</version>
    </Openpay_Addwidget>
  </modules>
  <frontend>
    <routers>
      <addwidget>
        <use>standard</use>
          <args>
            <module>Openpay_Addwidget</module>
            <frontName>addwidget</frontName>
          </args>
      </addwidget>
    </routers>
    <layout>
      <updates>
      <addwidget>
        <file>addwidget.xml</file>
      </addwidget>
      </updates>
    </layout>
  </frontend>
  <global>
    <helpers>
      <addwidget>
        <class>Openpay_Addwidget_Helper</class>
      </addwidget>
    </helpers>
    <blocks>
      <addwidget>
      <class>Openpay_Addwidget_Block</class>
    </addwidget>
  </blocks>
  </global>
  <adminhtml>
  <layout>
    <updates>
    <addwidget>
      <file>addwidget.xml</file>
    </addwidget>
    </updates>
  </layout>
  </adminhtml>
</config> 