<?xml version="1.0"?>
<config>
  <modules>
    <Openpay_PriceCalculatorWidget>
      <version>0.1.0</version>
    </Openpay_PriceCalculatorWidget>
  </modules>
  <frontend>
    <routers>
      <pricecalculatorwidget>
        <use>standard</use>
          <args>
            <module>Openpay_PriceCalculatorWidget</module>
            <frontName>pricecalculatorwidget</frontName>
          </args>
      </pricecalculatorwidget>
    </routers>
		<layout>
		  <updates>
			<pricecalculatorwidget>
			  <file>pricecalculatorwidget.xml</file>
			</pricecalculatorwidget>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <pricecalculatorwidget>
        <class>Openpay_PriceCalculatorWidget_Helper</class>
      </pricecalculatorwidget>
    </helpers>
	<blocks>
	  <pricecalculatorwidget>
		<class>Openpay_PriceCalculatorWidget_Block</class>
	  </pricecalculatorwidget>
	</blocks>
  </global>
</config> 