<?xml version="1.0"?>
<config>
  <modules>
    <Openpay_Popupwidget>
      <version>0.1.0</version>
    </Openpay_Popupwidget>
  </modules>
  <frontend>
    <routers>
      <popupwidget>
        <use>standard</use>
          <args>
            <module>Openpay_Popupwidget</module>
            <frontName>popupwidget</frontName>
          </args>
      </popupwidget>
    </routers>
		<layout>
		  <updates>
			<popupwidget>
			  <file>popupwidget.xml</file>
			</popupwidget>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <popupwidget>
        <class>Openpay_Popupwidget_Helper</class>
      </popupwidget>
    </helpers>
	<blocks>
	  <popupwidget>
		<class>Openpay_Popupwidget_Block</class>
	  </popupwidget>
	</blocks>
  </global>
  <adminhtml>
  <layout>
    <updates>
    <popupwidget>
      <file>popupwidget.xml</file>
    </popupwidget>
    </updates>
  </layout>
  </adminhtml>
</config> 