<?xml version="1.0"?>
<config>
  <modules>
    <Openpay_Cartdropdownaccelerator>
      <version>0.1.0</version>
    </Openpay_Cartdropdownaccelerator>
  </modules>
  <frontend>
    <routers>
      <cartdropdownaccelerator>
        <use>standard</use>
          <args>
            <module>Openpay_Cartdropdownaccelerator</module>
            <frontName>cartdropdownaccelerator</frontName>
          </args>
      </cartdropdownaccelerator>
    </routers>
		<layout>
		  <updates>
			<cartdropdownaccelerator>
			  <file>cartdropdownaccelerator.xml</file>
			</cartdropdownaccelerator>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <cartdropdownaccelerator>
        <class>Openpay_Cartdropdownaccelerator_Helper</class>
      </cartdropdownaccelerator>
    </helpers>
	<blocks>
	  <cartdropdownaccelerator>
		<class>Openpay_Cartdropdownaccelerator_Block</class>
	  </cartdropdownaccelerator>
	</blocks>
  </global>
</config> 