<?xml version="1.0"?>
<config>
  <modules>
    <Ueg_GetFedexRate>
      <version>0.1.0</version>
    </Ueg_GetFedexRate>
  </modules>
  <global>
    <helpers>
      <getfedexrate>
        <class>Ueg_GetFedexRate_Helper</class>
      </getfedexrate>
    </helpers>
	<models>
	  <getfedexrate>
		<class>Ueg_GetFedexRate_Model</class>
		<resourceModel>getfedexrate_mysql4</resourceModel>
	  </getfedexrate>
			<usa>
				<rewrite>
					<shipping_carrier_fedex>Ueg_GetFedexRate_Model_Usa_Shipping_Carrier_Fedex</shipping_carrier_fedex>
				</rewrite>
			</usa>
	</models>
  </global>
</config> 