@font-face {
    font-family: 'proxima_softregular';
    src: url('../fonts/mark_simonson_-_proxima_soft-webfont.eot');
    src: url('../fonts/mark_simonson_-_proxima_soft-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mark_simonson_-_proxima_soft-webfont.woff2') format('woff2'),
         url('../fonts/mark_simonson_-_proxima_soft-webfont.woff') format('woff'),
         url('../fonts/mark_simonson_-_proxima_soft-webfont.ttf') format('truetype'),
         url('../fonts/mark_simonson_-_proxima_soft-webfont.svg#proxima_softregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_softthin';
    src: url('../fonts/mark_simonson_-_proxima_soft_thin-webfont.woff2') format('woff2'),
         url('../fonts/mark_simonson_-_proxima_soft_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.minicart-widget-content{font-family: 'proxima_softthin';}
.minicart-openpay-widgets { width: 100%; margin: 0 0 20px; padding: 15px 0 10px; display: inline-block; vertical-align: top; text-align: center; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: rgba(0,0,0,0.3) 2px 4px 6px; -moz-box-shadow: rgba(0,0,0,0.3) 2px 4px 6px; box-shadow: rgba(0,0,0,0.3) 2px 4px 6px; }
.minicart-openpay-widgets .minicart-widget-image-outer img { margin: 0 auto 15px; }
.minicart-openpay-widgets span { font-size: 14px; line-height: 20px; color: #5c5e64; margin: 0 0 10px; }
.minicart-openpay-widgets span:last-of-type { margin-bottom: 0; }
.minicart-openpay-widgets .minicart-widget-content{padding: 4px;}